.mainslide {
    display: flex;
}
.slideContainer {
    display: flex;
    height: 400px;
    background: #222;
}
.slideContainer .slideView {
    width: 70%;
}
.slideContainer .slideList {
    width: 30%;
}
.slideContainer .slideList img {
    width: 100%;
}
.tab-content {
    position: relative;
    width: 100%;
    height: 100%;
}
.tab-content >  div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #fff;
}
.tab-content .tab-content1 {
    background: url("../../public/assets/002.jpg") center center / cover ;
}
.tab-content .tab-content2 {
    background: url("../../public/assets/002.jpg") center center / cover ;
}
.tab-content .tab-content3 {
    background: url("../../public/assets/002.jpg") center center / cover ;
}
.tab-content .tab-content4 {
    background: url("../../public/assets/002.jpg") center center / cover ;
}
.tab-content .tab-content5 {
    background: url("../../public/assets/001.jpg") center center / cover ;
}
.content_text {
    position: absolute;
    bottom : 50px;
    left: 50px;
    font-size: 28px;
    width: 80%;
    line-height: 1.2;
}
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom , rgba(0,0,0,0) , rgba(0,0,0,0.8));
}
.date {
    font-size: 13px;
    color: #666666;
}
.slideList ul {
    height: 100%;
}
.slideList ul li {
    height:  20%;
    display: flex;
}
.slideList ul li .img {
    width: 40%;
}
.slideList ul li .text{
    width: 60%;
    color: #fff;
    font-size: 12px;
}
.slideList ul li img {
    height: 80%;
    width: auto;
}
.highbox {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}
.highbox_sub {
    color:#F75A69;
    font-size: 17px;
    font-weight: bold;
}
.highbox_title {
    border-bottom: 6px solid red;
    border-left: 4px solid red;
    width: 100%;
}
.highbox_desc {
    font-size: 13px;
    padding: 7px 0;
    word-break: break-all;
}
.highbox_title h2 {
    padding-left: 10px ;
}
.highbox_main {
    padding-top: 40px;
    height: 380px;
}
.highbox_list {
    width: 100%;
}
.highbox_list  {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.highbox_list li {
    width: 24%;
    height: 50%;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px #d9d9d9;
}
.highbox_main ul li img{
    width: 100%;
    height: 135px;
    padding-bottom: 10px;
}
.newsbox {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}
.newsbox_title {
    border-bottom: 6px solid red;
    border-left: 4px solid red;
    width: 100%;
}
.newsbox_title h2 {
    padding-left: 10px ;
}
.newsbox_main {
    padding-top: 40px;
}
.newsbox_list  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.newsbox_list li {
    width: 100%;
    display: flex;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px #d9d9d9;
}
.newsbox_main ul li img{
    width: 28%;
    height: auto;
}
.newsbox_desc {
    padding-left: 18px;
    font-size: 14px;
    word-break: break-all;
}
.newsbox_desc h5{
    color:#F75A69;
    font-size: 17px;
    font-weight: bold;
}
.mininews {
    padding-bottom: 30px;
}
.mininews_title {
    border-bottom: 6px solid red;
    border-left: 4px solid red;
    width: 100%;
}
.mininews_title h4 {
    padding-left: 10px ;
}
.mininews_main {
    padding-top: 20px;
    margin-top: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px #d9d9d9;
}
.mininews_main h6 {
    color: #F75A69;
    font-size: 14px;
}
.mininews_desc{
    padding-top: 15px;
    border-bottom: 1px solid #d9d9d9;
}
.mininews p {
    font-size: 13px;
    color: #666666;
}